doctype html
html
  head
    //- meta tag setup
    //- html encoding utf8
    meta(charset="utf-8")
    //- RWD viewport setting
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- website description
    meta(name="description" content="AI forum 2018")
    //- website key words
    meta(name="keywords" content="AI, AI forum 2018, NCKU CSIE")
    //- website author
    meta(name="author" content="ProFatXuanAll")
    //- link tag setup
    //- fonts
    link(href='https://fonts.googleapis.com/css?family=Work Sans' rel='stylesheet')
    link(href='https://use.fontawesome.com/releases/v5.0.8/css/all.css' rel='stylesheet')
    
    //- icons
    link(rel='icon' type='image/png' href=`${ static }/images/logoBlack.png`)

    //- title tag setup
    title AI forum 2018

    //- css link block
    link(rel='stylesheet' type='text/css' href=`${ static }/css/navibar.css`)
    link(rel='stylesheet' type='text/css' href=`${ static }/css/banner.css`)
    link(rel='stylesheet' type='text/css' href=`${ static }/css/title.css`)
    link(rel='stylesheet' type='text/css' href=`${ static }/css/footer.css`)
    
    block css
  body
    //- header block
    include ../components/navibar.pug
    include ../components/banner.pug
    include ../components/title.pug
    block header

    //- content block
    block content

    //- footer block
    include ../components/footer.pug

    //- script block
    block scripts
