-
  let navOptions = root;

mixin navigationBar( active )
  nav
    a(href=`${ root.home }`)
      img(src=`${ static.logoBlack }`)
    ul
      each navOption in navOptions
        if active === navOption.ename
          li(class='active')
            a(href=navOption.url) #{navOption.cname}
        else
          li
            a(href=navOption.url) #{navOption.cname}
