-
  let navOptions = [
    { url: `${home}`, name: '首頁' },
    { url: `${registration}`, name: '報名' },
    { url: `${host}`, name: '主協辦單位' },
    { url: `${agenda}`, name: '議程' },
    { url: `${location}`, name: '交通資訊' },
    { url: `${contact}`, name: '聯絡方式' }
  ]

mixin navigationBar( active )
  nav
    ul
      each navOption in navOptions
        if active === navOption.url 
          li(class='active')
            a(href=navOption.url) #{navOption.name}
        else
          li
            a(href=navOption.url) #{navOption.name}
