mixin naviBar
  nav
    a(href=`${ root }`) 首頁
    a(href=`${ root }/registration`) 報名
    a(href=`${ root }/agenda`) 議程
    a(href=`${ root }/host`) 主協辦單位
    a(href=`${ root }/accommondation`) 住宿資訊
    a(href=`${ root }/location`) 交通資訊
    a(href=`${ root }/contact`) 聯絡方式
