extends layouts/base.pug

block css
  link(rel='stylesheet' type='text/css' href=`${ static }/css/accommodation.css`)

block header
  +navigationBar( 'accommondation' )

block content
  +bannerText('住宿資訊')
  section#mainContent
    h1
      a(href='https://www.zendasuites.com.tw/') 成大會館
    img(src=`${ static }/images/accommo_ncku_ext.jpg` alt='成大會館外部圖片')
    p 訂房單 (reservation form)
      div
        a(href=`${ static }/files/RV_Form_sgrr_ch.pdf`)
          span(class='far fa-file-pdf')
          |  中文版
        a(href=`${ static }/files/RV_Form_sgrr_en.pdf`)
          span(class='far fa-file-pdf')
          |  English Ver.
    hr
    h1
      a(href='https://www.shangri-la.com/tc/tainan/fareasternplazashangrila/') 香格里拉遠東國際大飯店
    table(style='margin-left: auto; margin-right: auto; cellspacing:25px')
      tr(style='width:400px')
        td(rowspan='2')
          img(src=`${ static }/images/accommo_sgrr_ext.jpg` alt='香格里拉外部圖片' id='sgrr_ext' style='width:400px; display:block;')
        td
          img(src=`${ static }/images/accommo_sgrr_dining.jpg` alt='香格里拉晚宴地點圖片' id='sgrr_dining' style='height:300px; display:block; vertical-align: bottom;')
      tr(style='width:400px')
        td
          img(src=`${ static }/images/accommo_sgrr_room.jpg` alt='香格里拉房間內部圖片' id='sgrr_room' style='height:250px; display:block; vertical-align: bottom;')
    p 訂房單 (reservation form)
      div
        a(href=`${ static }/files/RV_Form_sgrr_ch.pdf`)
          span(class='far fa-file-pdf')
          |  中文版
        a(href=`${ static }/files/RV_Form_sgrr_en.pdf`)
          span(class='far fa-file-pdf')
          |  English Ver.
    hr

block scripts
  script(src=`${ static }/js/particles.js`)
  script(src=`${ static }/js/index.js`)
