extends layouts/base.pug

block css
  link(rel='stylesheet' type='text/css' href=`${ static }/css/accommodation.css`)

block header
  +navigationBar( 'accommondation' )

block content
  +bannerText('住宿資訊')
  section#mainContent
    h1
      a(href='https://www.zendasuites.com.tw/') 成大會館
    p 訂房單 (reservation form)
      div
        a(href=`${ static }/files/RV_Form_sgrr_ch.pdf`)
          span(class='far fa-file-pdf')
          |  中文版
        a(href=`${ static }/files/RV_Form_sgrr_en.pdf`)
          span(class='far fa-file-pdf')
          |  English Ver.
    hr
    h1
      a(href='https://www.shangri-la.com/tc/tainan/fareasternplazashangrila/') 香格里拉遠東國際大飯店
    hr

block scripts
  script(src=`${ static }/js/particles.js`)
  script(src=`${ static }/js/index.js`)
