extends layouts/base.pug

block css
  link(rel='stylesheet' href=`${ static }/css/agenda.css`)

block header
  +navigationBar( 'agenda' )

block content
  +bannerText('議程','2018 年 5 月 4 日 - 5 月 5 日')
  section.timeline
    table
      tr
        th(colspan='3') May 4 (Friday)
      tr
        th Time
        th Event
        th Chair
      tr
        td 12:30 - 13:10
        td Registration
        td &nbsp;
      tr
        td 13:10 - 13:30
        td Opening
        td &nbsp;
      tr
        td 13:30 - 14:30
        td Keynote I:
          br 
          | Dr. Haixun Wang,
          br
          | Director of NLP, Amazon
        td Prof. Hsu
      tr
        td 14:30 - 14:45
        td Short Break
        td &nbsp;
      tr
        td 14:45 - 15:45
        td Keynote II: "AI in Singapore"
          br
          | Prof. Lim Ee Peng
          br
          | Professor of Information Systems
          br
          | Director, Living Analytics Research Centre
        td Prof. Kao
      tr
        td 15:45 - 16:00
        td Coffee Break
        td &nbsp;
      tr
        td 16:00 - 17:30
        td Panel Discussion
          br
          | Gape between Research and Industry for AI
        td TBA
      tr
        td 17:30 - 19:00
        td Banquet
        td &nbsp;
      tr
        th(colspan='3') May 5 (Saturday)
      tr
        th Time
        th Event
        th Chair
      tr
        td 9:00 - 10:00
        td Keynote III:
          br
          | "Big Data Analytics (tentative)"
          br
          | Prof. Hang Li
          br
          | CTO, Toutiao
        td TBA
      tr
        td 10:00 - 11:00
        td Special Session: Industrial Insight
          br
          | TBA
        td TBA
      tr
        td 11:00 - 11:15
        td Coffee Break
        td &nbsp;
      tr
        td 11:15 - 12:15
        td Special Session: Ph.D. Moonshoot
          br
          | Innovative Work from Fresh AI Ph.D. students
        td TBA
      tr
        td 12:15 - 13:30
        td End
        td &nbsp;
  section.speaker
    figure
      img(src=`${ static }/images/speaker_hang_lee.jpg` alt='李航 主任')
      figcaption
        h3 李航 主任
        p (Prof. Hang Li)
      article 今日頭條實驗室主任，曾任華爲諾亞方舟實驗室主任；1990-2001年，供職於NEC公司研究實驗室；2001-2012年，在微軟亞洲研究院工作；其研究領域包括信息檢索、自然語言處理、統計機器學習和數據挖掘。
    figure
      img(src=`${ static }/images/speaker_lim_ee_peng.jpg` alt='林一平(Lim Ee Peng) 教授')
      figcaption 
        h3 林一平 教授
        p (Prof. Ee Peng Lim)
      article 現為新加坡管理大學的教授，現為多個IEEE/ACM重要期刊的副編輯，如:ACM Transaction on Web, TKDE, ACM TIS, IEEE Intelligent Systems, 他也是今年CIKM會議的主席之一, CIKM為資料探勘頂尖會議之一. 林教授多年在新加坡管理大學推廣多項國際合作，其團隊也與MIT有相當多實質的合作與研究進行, 也在大數據與人工智慧領域有不少研究成果，期能將新加坡這幾年將AI運用領域與推廣方式進行分享。
    figure
      img(src=`${ static }/images/speaker_haixun_wang.jpg` alt='王海勳(Haixun Wang) 博士')
      figcaption
        h3 王海勳 博士
        p (Dr. Haixun Wang)
      article 王海勳博士現任亞馬遜NLP集團董事。在加入亞馬遜之前，曾在Google、微軟亞洲，IBM Research（沃森）工作過。王博士研究領域為文字分析Text Analytics, 自然語言處理，知識庫建構與語意網路，Artificial Intelligence等。王博士曾得過ICDE 2015年的最佳論文獎，在2014年得到ICDM 10 Year Highest Impact Paper Award，在微軟研究院時，王博士建構出一個語料知識庫Probase (a data driven semantic network for text understanding)，也是在文字處理上相當重要的一個語料庫。

block scripts
  script(src=`${ static }/js/particles.js`)
  script(src=`${ static }/js/index.js`)
