extends layouts/base.pug

block css
  link(rel='stylesheet' href=`${ static }/css/agenda.css`)

block header

block content
  include components/title.pug
  include components/speaker.pug
  +banner
  section.purpose
    div
      +title('會議議程')
    div
      h3 會議目標
      p &emsp;&emsp;近年來，人工智慧已經越來越深入的浸透到人類社會中。在我們的生活品質被不斷改善的同時，面對這波鋪天蓋地般的突飛猛進，人們對人工智慧的發展與未來充滿了極大的想像與期待。「得語言者得天下」，微軟全球執行副總裁沈向洋曾經如此說過。其中的考量很簡單，語言難，相比於以語音、圖像為代表的感知智能層，以自然語言處理技術為代表的認知智能層是當下人工智能發展的主要難題。本屆2018人工智慧論壇，邀請到國內外的知名AI相關領域傑出學者發表精彩的演講，而其中自然語言智能將是今年一大主軸。主題將包括：Amazon的短文字處理技術，新加坡的智慧國家平台，與今日頭條帶來的機器如何理性表現。同時我們也邀請了智慧綠能領航公司聯齊與機器人情緒專家竹間智能公司以業界的角度帶來AI在這不同領域的發展與影響力。
    div
      p
        span MAY
        span  04,2018
      p |
      p
        span MAY 
        span  05,2018

  section.timeline
    +title('會議流程')
    h3 MAY 04,2018 (Friday)
    table
      tr
        th Time
        th Event
      tr
        td 12:30 - 13:10
        td Registration
      tr
        td 13:10 - 13:30
        td Opening
      tr
        td 13:30 - 14:30
        td 
          strong Keynote I:  "NLP for Short Text Understanding"
          br 
          | Dr. Haixun Wang,
          br
          | Director of NLP, Amazon
      tr
        td 14:30 - 14:45
        td Short Break
      tr
        td 14:45 - 15:45
        td
          strong Keynote II: "Data Science for Smart Cities / Nations"
          br
          | Prof. Lim Ee Peng
          br
          | Professor of Information Systems
          br
          | Director, Living Analytics Research Centre
      tr
        td 15:45 - 16:00
        td Coffee Break
      tr
        td 16:00 - 17:00
        td
          strong Industrial Insight
          br
          | 簡仁賢
          br
          | CEO, 竹間智能
      tr
        td 17:00 - 18:00
        td
          strong Panel: AI 人才培育
      tr
        td 18:00 - 20:00
        td Banquet

    h3 MAY 05,2018 (Saturday)
    table
      tr
        th Time
        th Event
      tr
        td 9:00 - 10:00
        td
          strong Keynote III: "Machines That Act Rationally"
          br
          | Prof. Hang Li
          br
          | CTO, Toutiao
      tr
        td 10:00 - 11:00
        td
          strong Industrial Insight
          br
          | 顏哲淵
          br
          | CEO, 聯齊科技
      tr
        td 11:00 - 11:15
        td Coffee Break
      tr
        td 11:15 - 12:15
        td
          strong AI Young Star
          br
          | Innovative Work from Fresh AI Ph.D.
      tr
        td 12:15 - 13:30
        td End

  section#speakers
    +title( 'Keynote' )
    article
      +speaker( `${ static }/images/speaker_hai_xun_wang.jpg`, '王海勳', '王海勳', 'VP of Engineering, WeWork', 'Director of NLP, Amazon', `${ root }/agenda/hai_xun_wang` )
      +speaker( `${ static }/images/speaker_hang_lee.jpg`, '李航', '李航', '今日頭條人工智慧實驗室 主任', '', `${ root }/agenda/hang_li` )
      +speaker( `${ static }/images/speaker_ee_peng_lim.jpg`, '林一平', '林一平', '新加坡管理大學（SMU） 教授', '', `${ root }/agenda/ee_peng_lim` )
    +title( 'Industrial Insight' )
    article
      +speaker( `${ static }/images/speaker_zhe_yuan_yan.jpg`, '顏哲淵', '顏哲淵', '聯齊科技 執行長', '', `${ root }/agenda/zhe_yuan_yan` )
      +speaker( `${ static }/images/speaker_ren_xian_jian.jpg`, '簡仁賢','簡仁賢', '竹間智能 執行長', '', `${ root }/agenda/ren_xian_jian` )
    +title( 'Young AI Star' )
    article
      +speaker( `${ static }/images/speaker_yin_hsi_kuo.jpg`, '郭盈希', '郭盈希', 'Appier', '', `${ root }/agenda/yin_hsi_kuo` )
      +speaker( `${ static }/images/speaker_yu_ru_lin.jpg`, 'Yu Ru Lin', 'Yu Ru Lin', 'Prof. University of Pittsburgh', '', `${ root }/agenda/yu_ru_lin` )

block scripts
  //script(src=`${ static }/js/particles.js`)
  //script(src=`${ static }/js/index.js`)
  //script(src=`${ static }/js/agenda.js`)
