extends layouts/base.pug

block css
  link(rel='stylesheet' type='text/css' href=`${ static }/css/host.css`)

block header
  +navigationBar( 'host' )

block content
  +bannerText('AI Forum  2018', 'artificial intelligence forum in NCKU')
  section#mainContent
    +title('主協辦單位')
    img(class='img-responsive' src=`${ static }/images/host_mostbig.png` alt='中華民國科技部')
    //+title('中華民國人工智慧學會 TAAI')
    img(class='img-responsive' src=`${ static }/images/taai_2x.png` alt='中華民國人工智慧學會 TAAI')
    //+title('國立成功大學')
    img(class='img-responsive' src=`${ static }/images/top001.png` alt='國立成功大學')
    h1 科技部AI創新研究中心專案計畫推動辦公室
    h1 財團法人李國鼎科技發展基金會
    h1 國立成功大學國際產學聯盟
    img(class='img-responsive' src=`${ static }/images/host_gloria.jpg` alt='國立成功大學國際產學聯盟')

block scripts
  script(src=`${ static }/js/particles.js`)
  script(src=`${ static }/js/index.js`)
