extends layouts/base.pug

block css
  link(rel='stylesheet' type='text/css' href=`${ static }/css/index.css`)

block header

block content
  include components/title.pug
  include components/speaker.pug
  include components/button.pug
  +naviBar
  header#top
    div.bgImageArea
      img(src=`${ static }/images/background_tree_black.png` class='bgImage' id='blackTreeTopLeft')
      img(src=`${ static }/images/background_tree_black.png` class='bgImage' id='blackTreeTopRight')
      img(src=`${ static }/images/background_tree_black.png` class='bgImage' id='blackTreeBottomRight')
      img(src=`${ static }/images/background_tree_black.png` class='bgImage' id='blackTreeBottomRightMost')
      img(src=`${ static }/images/index_robot.svg` class='robotImage' id='robotLeft')
      img(src=`${ static }/images/index_robot.svg` class='robotImage' id='robotRight')
    div.image
      img.whiteTreeLogo(src=`${ static }/images/logoWhiteBig.png`)
    div.head
      h1 AI Forum 
        span 2018
      h2 Artificial Intelligence Forum in NCKU
      h3 5/4 - 5/5, 香格里拉飯店 * 台南
    div.buttonApplyArea
      button
        a(href='https://events.panmedia.asia/events/e1803191348027042') APPLY NOW
        //a(href='https://events.panmedia.asia/events/e1803201455487662?utm_source=taai&utm_medium=web&utm_campaign=2018_ai_forum_eb&utm_term=click&utm_content=web') APPLY NOW
  header
  section
    +title( '關於' )
    article
      h1 人工智慧論壇研討會的緣起
      p 人工智慧（Artificial Intelligence、AI）這個名詞自 1956 年誕生以來，便不斷地 與日新月異的現代科技一起發展進步，為提升人類的生活品質做出貢獻。今天無論是在：機器人、汽車、手機、家電、乃至於搜尋引擎與推薦系統中，都存在著人工智慧扮演不可或缺的角色，與我們的生活緊密結合。
      p 中華民國人工智慧學會 (TAAI) 於 1999 年首次舉辦人工智慧論壇研討會 (AI Forum) 以來，AI Forum 已成為國內人工智慧研究領域一年一度的盛事！以論壇的方式，提供國內大學、研究單位及產業界的專家與學者一個交流與整合的平台。
      p 經過了十九年，AI Forum 將在 2018年 5 月4、5日 兩天，在台南由成功大學資訊工程系主辦。在這十九年的歲月間，隨著每一次年會走過的腳印，都可以看到人工智慧所刻劃下的里程碑，也彰顯了台灣產官學界，在人工智慧這個領域的長年耕耘。雖然2017為台灣的AI元年，但學會在人工智慧的深耕，確已經深化在台灣學術與工業界個領域。特別是在過去的這幾年中，雲端、大數據、與深度學習的興起，更風起雲湧地將人工智慧的研究推上新的高峰！也更凸顯出 AI Forum 的意義與重要！ 近年來深度學習在影像辨識與相關應用上已有相當大的進步，而文字與語言的理解與認知更是人工智慧下一個挑戰的目標。在 2018 AI Forum 中我們將以文字與語言為主軸，並輔以相關智慧綠能等議題。
  section
    +title( 'Keynote' )
    article
      +speaker( `${ static }/images/speaker_hai_xun_wang.jpg`, '王海勳', '王海勳', 'VP of Engineering, WeWork', 'Director of NLP - Amazon', `${ root }/agenda/hai_xun_wang` )
      +speaker( `${ static }/images/speaker_hang_lee.jpg`, '李航', '李航', '今日頭條人工智慧實驗室 主任', '', `${ root }/agenda/hang_li` )
      +speaker( `${ static }/images/speaker_ee_peng_lim.jpg`, '林一平', '林一平', '新加坡管理大學（SMU） 教授', '', `${ root }/agenda/ee_peng_lim` )
  section
    +title( 'Industrial Insight' )
    article
      +speaker( `${ static }/images/speaker_zhe_yuan_yan.jpg`, '顏哲淵', '顏哲淵', '聯齊科技 執行長', '', `${ root }/agenda/zhe_yuan_yan` )
      +speaker( `${ static }/images/speaker_ren_xian_jian.jpg`, '簡仁賢','簡仁賢', '竹間智能 執行長', '', `${ root }/agenda/ren_xian_jian` )
  section
    +title( 'Young AI Star' )
    article
      +speaker( `${ static }/images/speaker_yin_hsi_kuo.jpg`, '郭盈希', '郭盈希', 'Appier', '', `${ root }/agenda/yin_hsi_kuo` )
      +speaker( `${ static }/images/speaker_yu_ru_lin.jpg`, 'Yu Ru Lin', 'Yu Ru Lin', 'Prof. University of Pittsburgh', '', `${ root }/agenda/yu_ru_lin` )
  section
    +title( 'Keynote' )
  section
    +title( '報名 & 費用' )
    //+button( 'APPLY NOW', `${ root }/registration` )
    +button( 'SEE MORE', `${ root }/registration#fee` )
    article
      h1 早鳥優惠進行中
      p Due on 
        span April 13, 2018 at 0:00:00 PM
  section
    +title( '會議地點' )
    article
      span(class='fas fa-map-marker-alt') 
      span  香格里拉遠東國際大飯店
    article
      +button( '前往官網', 'http://www.shangri-la.com/tc/tainan/fareasternplazashangrila/' )
    div#map

block scripts
  script(src=`${ static }/js/googleMap.js`)
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAqat2GqcAiq50z532bofCqOdTwH6LnwsI&callback=initMap')
