doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="AI forum 2018")
    meta(name="keywords" content="AI, AI forum 2018, NCKU CSIE")
    meta(name="author" content="ProFatXuanAll")
    title AI forum 2018

    // Animate.css 
    link(rel="stylesheet" href="css/animate.css")
    // Icomoon Icon Fonts
    link(rel="stylesheet" href="css/icomoon.css")
    // Bootstrap  
    link(rel="stylesheet" href="css/bootstrap.css")
    // Magnific Popup 
    link(rel="stylesheet" href="css/magnific-popup.css")
    // Theme style  
    link(rel="stylesheet" href="css/style.css")
    // Modernizr JS 
    script(src="js/modernizr-2.6.2.min.js")
  body
      
    div(class="fh5co-loader")
    
    div(id="page")
      nav(class="fh5co-nav" role="navigation")
        div(class="container")
          div(class="row")
            div(class="col-xs-2")
              div(id="fh5co-logo")
                a(href=`${home}`) AI forum
            div(class="col-xs-10 text-right menu-1")
              ul
                li
                  a(href=`${home}`) 首頁
                li
                  a(href=`${about}`) 關於
                li(class="has-dropdown")
                  a(href=`${agenda}`) 議程
                  ul(class="dropdown")
                    li
                      a(href="#") 議程一
                    li
                      a(href="#") 議程二
                    li
                      a(href="#") 議程三
                    li
                      a(href="#") 議程四
                li(class="has-dropdown")
                  a(href="#") 會議簡報
                  ul(class="dropdown")
                    li
                      a(href="#") 簡報一
                    li
                      a(href="#") 簡報二
                    li
                      a(href="#") 簡報三
                    li
                      a(href="#") 簡報四
                li(class="active")
                  a(href=`${location}`) 交通資訊
                li
                  a(href=`${contact}`) 聯絡方式

      header(id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(images/img_bg_2.jpg);")
        div(class="overlay")
        div(class="container")
          div(class="row")
            div(class="col-md-8 col-md-offset-2 text-center")
              div(class="display-t")
                div(class="display-tc animate-box" data-animate-effect="fadeIn")
                  h1 About Us
                  h2 Free html5 templates Made by 
                    a(href="http://freehtml5.co" target="_blank") freehtml5.co

      div(id="fh5co-about-section")
        div(class="container")
          div(class="about-content")
            div(class="row animate-box")
              div(class="col-md-6")
                img(class="img-responsive" src="images/img_bg_1.jpg" alt="about")
              div(class="col-md-6 col-md-pull-1")
                div(class="desc")
                  h3 History
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quo est quis mollitia ratione magni assumenda repellat atque modi temporibus tempore ex. Dolore facilis ex sunt ea praesentium expedita numquam 
                  p Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci rem dolorem nesciunt perferendis quae amet deserunt eum labore quidem minima.
          
          div(class="row animate-box")
            div(class="col-md-8 col-md-offset-2 text-center fh5co-heading")
              h2 Meet Our Staff
              p Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.
            
          div(class="row")
            div(class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn")
              div(class="fh5co-staff")
                img(src="images/person1.jpg" alt="Free HTML5 Templates by FreeHTML5.co")
                h3 Jean Smith
                strong(class="role") Web Designer
                p Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.
                ul(class="fh5co-social-icons")
                  li
                    a(href="#")
                      i(class="icon-facebook")
                  li
                    a(href="#")
                      i(class="icon-twitter")
                  li
                    a(href="#")
                      i(class="icon-dribbble")
                  li
                    a(href="#")
                      i(class="icon-github")
            
            div(class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn")
              div(class="fh5co-staff")
                img(src="images/person2.jpg" alt="Free HTML5 Templates by FreeHTML5.co")
                h3 Hush Raven
                strong(class="role") Front-end Developer
                p Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.
                ul(class="fh5co-social-icons")
                  li
                    a(href="#")
                      i(class="icon-facebook")
                  li
                    a(href="#")
                      i(class="icon-twitter")
                  li
                    a(href="#")
                      i(class="icon-dribbble")
                  li
                    a(href="#")
                      i(class="icon-github")
            
            div(class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn")
              div(class="fh5co-staff")
                img(src="images/person3.jpg" alt="Free HTML5 Templates by FreeHTML5.co")
                h3 Alex King
                strong(class="role") Back-end Developer
                p Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci.
                ul(class="fh5co-social-icons")
                  li
                    a(href="#")
                      i(class="icon-facebook")
                  li
                    a(href="#")
                      i(class="icon-twitter")
                  li
                    a(href="#")
                      i(class="icon-dribbble")
                  li
                    a(href="#")
                      i(class="icon-github")

      div(id="fh5co-started")
        div(class="container")
          div(class="row animate-box")
            div(class="col-md-8 col-md-offset-2 text-center fh5co-heading")
              h2 Newsletter
              p Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.
            
          
          div(class="row animate-box")
            div(class="col-md-8 col-md-offset-2")
              form(class="form-inline")
                div(class="col-md-6 col-sm-6")
                  div(class="form-group")
                    label(for="email" class="sr-only") Email
                    input(type="email" class="form-control" id="email" placeholder="Email")
                
                div(class="col-md-6 col-sm-6")
                  button(type="submit" class="btn btn-default btn-block") Subscribe

      footer(id="fh5co-footer" role="contentinfo")
        div(class="container")
          div(class="row row-pb-md")
            div(class="col-md-4 fh5co-widget")
              h3 The Company
              p Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.
              p
                a(href="#") Learn More
            
            div(class="col-md-2 col-sm-4 col-xs-6 col-md-push-1")
              ul(class="fh5co-footer-links")
                li
                  a(href="#") About
                li
                  a(href="#") Help
                li
                  a(href="#") Contact
                li
                  a(href="#") Terms
                li
                  a(href="#") Meetups

            div(class="col-md-2 col-sm-4 col-xs-6 col-md-push-1")
              ul(class="fh5co-footer-links")
                li
                  a(href="#") Shop
                li
                  a(href="#") Privacy
                li
                  a(href="#") Testimonials
                li
                  a(href="#") Handbook
                li
                  a(href="#") Held Desk

            div(class="col-md-2 col-sm-4 col-xs-6 col-md-push-1")
              ul(class="fh5co-footer-links")
                li
                  a(href="#") Find Designers
                li
                  a(href="#") Find Developers
                li
                  a(href="#") Teams
                li
                  a(href="#") Advertise
                li
                  a(href="#") API

          div(class="row copyright")
            div(class="col-md-12 text-center")
              p
                small(class="block") &copy; 2016 Free HTML5. All Rights Reserved.
                small(class="block") Designed by a(href="http://freehtml5.co/" target="_blank") FreeHTML5.co
                ul(class="fh5co-social-icons")
                  li
                    a(href="#")
                      i(class="icon-twitter")
                  li
                    a(href="#")
                      i(class="icon-facebook")
                  li
                    a(href="#")
                      i(class="icon-linkedin")
                  li
                    a(href="#")
                      i(class="icon-dribbble")

    div(class="gototop js-top")
      a(href="#" class="js-gotop")
        i(class="icon-arrow-up")
      
    // jQuery
    script(src="js/jquery.min.js")
    // jQuery Easing
    script(src="js/jquery.easing.1.3.js")
    // Bootstrap
    script(src="js/bootstrap.min.js")
    // Waypoints
    script(src="js/jquery.waypoints.min.js")
    // countTo
    script(src="js/jquery.countTo.js")
    // Magnific Popup
    script(src="js/jquery.magnific-popup.min.js")
    script(src="js/magnific-popup-options.js")
    // Main
    script(src="js/main.js")
