extends layouts/base.pug

block css
  // no css

block header
  +navigationBar( 'registration' )

block content
  +bannerText('註冊成功！',`感謝 ${ name } 先生/小姐 您的參與！`)
  h1(id='countDownText') 正在準備跳轉到信用卡付費頁面，還有
  p 再次謝謝您的參與！
  form(method='POST' action='https://acq.esunbank.com.tw/acq_online/online/sale42.htm')
    p
      input(type='hidden' name='MID' value='8080162725')
      input(type='hidden' name='CID' value='')
      input(type='hidden' name='TID' value='EC000001')
      input(type='hidden' name='ONO' value='')
      input(type='hidden' name='TA'  value='')
      input(type='hidden' name='U'   value='http://www.taai.org.tw/TAAI/page1/aiforum/check.php')
      input(type='hidden' name='M'   value='EGC4LEARIA6JKESPRDK8CPLCACTWSCZI')
    table(border='0')
      tr
        td(align='left')
          div(id='hideArea2')
            p 請輸入生日末四碼: 
              input(type='text' name='lidm' maxlength='4' id='lidm' value=`${ birth }`)
          div(id='NewMemberMoney' align='left')
            p 
              label
                if fee == '2500' 
                  input(type='radio' name='purchAmt' value='2500' id='NewMemberMoney1' checked)
                else
                  input(type='radio' name='purchAmt' value='2500' id='NewMemberMoney1')
                | 一般會員 NT$2500
              label
                if fee == '1400' 
                  input(type='radio' name='purchAmt' value='1400' id='NewMemberMoney2' checked)
                else
                  input(type='radio' name='purchAmt' value='1400' id='NewMemberMoney2')
                | 學生會員 NT$1400
              label
                if fee == '3500' 
                  input(type='radio' name='purchAmt' value='3500' id='NewMemberMoney3' checked)
                else
                  input(type='radio' name='purchAmt' value='3500' id='NewMemberMoney3')
                | 一般非會員 NT$3500
              label
                if fee == '1800' 
                  input(type='radio' name='purchAmt' value='1800' id='NewMemberMoney4' checked)
                else
                  input(type='radio' name='purchAmt' value='1800' id='NewMemberMoney4')
                | 學生非會員 NT$1800
    p 
      input(id='sendToBank' type='button' name='button' value='送出' onClick='check(this.form)')

block scripts
  script(src=`${ static }/js/particles.js`)
  script(src=`${ static }/js/index.js`)
  script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
  script(src=`${ static }/js/success.js`)
